@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}
body{
	/* background-color: black; */
	font-family: Inter;
}
.nav-fit-container{
	width:100%;
	border: 2px solid red;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.945);
}
.nav-fit{
	color:rgba(230, 83, 60);
	font-size: 2rem;
	font-weight: 600;
	
}

.ul-content{
	display: flex;
	gap: 40px;
	list-style: none;
	border: 1px solid rgba(71, 48, 20, 0.267);
	border-radius: 40px;
	font-size: 1rem;
	font-weight: 400;
	color:white;
	align-items: center;
}
.btn-primary{
	background-color: rgba(230, 83, 60);
	border-radius: 45px;
	font-family: Inter;
	width: 65px;
	height: 28px;
	color: white;
	font-size: 1rem;
	font-weight: 400;
	border: none;
}