@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

*{
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-family: Inter;
}
.nav-fit-container{
	width:100%;
	display: flex;
	justify-content: space-between;
  padding: 0% 14% 0% 14%;
	align-items: center;
	background-color: rgb(0, 0, 0);
}
.nav-fit h1{
	color:rgba(230, 83, 60);
	font-size: 2.5rem;
	font-weight: 800;
	margin-left: 20%;
	
}
.nav-fit-small h1{
	color:rgba(230, 83, 60) ;
	font-size: 2.5rem;
	font-weight:800 ;
}

.ul-content{
	display: flex;
	gap: 40px;
	list-style: none;
	border: 1px solid rgba(71, 48, 20, 0.267);
	border-radius: 40px;
	font-size: 1rem;
	font-weight: 400;
	color:white;
	align-items: center;

}
.btn-primary{
	background-color: rgba(230, 83, 60);
	border-radius: 45px;
	font-family: Inter;
	width: 65px;
	height: 28px;
	color: white;
	font-size: 1rem;
	font-weight: 400;
	border: none;
}
/* banner-section-style  */
.banner-section{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: linear-gradient(180deg, rgb(0, 0, 0),rgba(2, 2, 2, 0.719) 100%);
	/* backdrop-filter: blur(60px); */
	/* background-color: black; */
	/* position: relative; */
}
.banner-content{
flex-basis: 520px;

}
.banner-content h1{
	font-size: 4rem;
	font-weight: 900;
	color: white;
}

	.banner-content p{
		font-size: 1rem;
		font-weight: 400;
		color: rgba(255, 255, 255, 0.5);

    
	}

.btn-secondary{
  width: 180px;
	height: 50px;
	margin-top: 10px;
	color: white;
	border-radius: 42px;
	background-color: rgba(230, 83, 60);
	border: none;
	text-align: center;
	font-size:1.25rem;
	margin-right: 14px;

}
.btn-tertiary{
	width: 180px;
	height: 50px;
	margin-top: 10px;
	color: white;
	border: 1px solid white;
	background-color: black;
	/* border-color: white; */
	border-radius: 42px;
}
.shape-text{
 font-family: "Parisienne";
 font-size: 5rem;
 font-weight: 400;
}

.banner-body-vai{
	position: relative;
}

.banner-body-vai img{
	width: 100%;
	height: 100%;
}
.card{
	width: 206px;
	height: 96px;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
/* background-color: white; */
padding: 10px 10px 16px 24px;
}
.position1{
	position: absolute;
	left: 65%;
	top: 20%;
}

.item2{
	position: relative;
	
}
.card h5{
	font-size: 2.50em;
	font-weight: 700;
	margin-bottom: 1px;
}
.card p{
 font-size: 1rem;
 font-weight: 400;
 color: rgba(239, 237, 232, 0.65);
}
.radius{
	width: 35px;
	height: 35px;
	border-radius: 35px;
	background-color: rgba(230, 83, 60);
	position: absolute;
	top: 24px;
	text-align: center;
	align-items: center;

}

.position2{
	position: absolute;
	bottom: 12%;
	right: 80%;
}
.card-text{
	margin-left: 40px;
}
/* habits-section-style  */
.habits-section{
	width: 100%;
	text-align: center;
	margin: 0px;
	background-color: rgb(15, 13, 13);
	padding: 2% 14% 2% 14%;
}
.habit-title{
	flex-basis: 671px;
	text-align: center;
	margin-bottom: 50px;
}
.habit-title h3{
	font-size:3rem ;
	font-weight: 900;
	color: white;
	margin-top:0px;

}
.habit-title p{
	font-size: 0.85rem;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 20px;
}
.habit-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.habit-card{
	flex-basis: 231px;
}
.habit-card-photo img{
  border-radius: 50%;

}
.habit-card h4{
	font-size: 1.25rem;
	font-weight: 600px;
	color: white;
	margin-bottom: 2px;
}
.habit-card p{
	font-size: 0.85rem;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
}
/* run-section-style-here  */
.run-section{
	width: 100%;
	padding: 2% 14% 2% 14%;
  background-color:rgb(15, 13, 13);
	box-sizing: border-box;

}
.run-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 18px;
background: rgb(34, 34, 34);
padding: 2%;


}
.run-content{
	flex-basis: 443px;


}
.run-content h3{
	font-size: 3rem;
	font-weight: 900;
	color: white;
}
.run-content p{
	font-size: 1rem;
	font-weight: 400;
	color: white;
}
.run-boy-photo{
flex-basis: 366px;

}
.run-boy-photo img{
	width: 100%;
	border-radius: 18px;
}
/* team-style-here */
.team-section{
	width: 100%;
	padding: 2% 14% 2% 14%;
  background-color:rgb(15, 13, 13);
	box-sizing: border-box;
	
}
.team-header{
	text-align: center;

}
.team-header h1{
	color: white;
	font-size: 3rem;
	font-weight: 900;

}
.team-header p{
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 50px;
	font-size: 0.85rem;
	font-weight: 400;
}
.trainer-container{
  display:grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 18px;
	margin: 0px;
	padding: 20px;
} 
.trainer-card{
	filter: blur(0.585px);
	height: 337px;
	}
.trainer-card img{
	width: 100%;
	height: 100%;
	border-radius: 18px;
	position: relative;

}
.trainer-card h4{
	color: white;
	position: absolute;
	top: 80%;
	 margin-left: 10px; 
}
.trainer-card p{
	position: absolute;
	color:rgba(255, 255, 255, 0.5);
	top: 90%;
	margin-left: 10px;

}
/* universal style  */



@media screen and (max-width: 576px) {
	.large-device-nav{
		display: none;
	}
	.nav-fit-container{
		padding: 0% 5% 0% 5%;
	}
	/* banner-section */
	.banner-section{
		flex-direction: column;
		padding: 0px 20px 0px 20px;
	}
	.banner-content{
		margin-top: 40px;
		margin-bottom: 0px;
	}
	.card{
		width: 180px;
		
	}
	.position1{
		top: 8%;
		left: 54%;
		
	}
	.position2{
		position: absolute;
		bottom: 42%;
		right: 52%;
	}
	.habit-card{
		margin-top: 15px;
	}
	.run-section{
		padding: 4%;
	}
	.run-container{
		flex-direction: column;
		justify-content: space-between;
		padding: 20px;
	}
	.nav-fit-container{
	padding: 0% 8% 0% 8%;
	}
	.run-content{
		flex-basis: 0px;
		margin-bottom: 20px;
	}
	.run-boy-photo{
		flex-basis: 0px;
	}
	.join-btn{
	  width: 100%;
	}
	
}
@media screen and (min-width: 576px)  {
	.small-device-nav{
		display: none;
	}
	
}